@font-face {
    font-family: 'FuturaNewLight';
    src: url('/fonts/FuturaNewLight.eot');
    src: url('/fonts/FuturaNewLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FuturaNewLight.woff') format('woff'),
    url('/fonts/FuturaNewLight.ttf') format('truetype'),
    url('/fonts/FuturaNewLight.svg#FuturaNewLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: FuturaNewLight;
}

.b-wrapper {
    min-width: 640px;
    background: #a0dcff;
}

.b-header {
    position: fixed;
    font-size: 2em;
    z-index: 5;
    padding: 20px 45px 10px;
    background: #fff;
    border-radius: 39px;
    top: -20px;
    left: -40px;
    opacity: 0.8;
}

.b-list {
    height: auto;
    text-align: center;
    background: #fff;
    margin-top: 30px;
}

.b-list-item {
    position: relative;
    width: 250px;
    height: 350px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.b-list-item .b-list-item_dummy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;

    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.b-list-item:hover .b-list-item_dummy {
    opacity: 0.6;
}

.b-list-item .b-list-item_dummy .icon {
    display: block;
    position: absolute;
    background: url(../img/glass.png) 50% 50% no-repeat;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.b-list-item_image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;

    /*box-shadow: inset 1px -70px 40px -10px #000, 1px 1px 0px 0 #333, 2px 2px 0px 0 #333, 3px 3px 0px 0 #333, 4px 4px 0px 0 #333, 5px 5px 0px 0 #333, 6px 6px 0px 0 #333, 7px 7px 0px 0 #333, 8px 8px 0px 0 #333, -3px 5px 19px 2px #000;*/
    box-shadow: inset 1px -70px 40px -10px #222, 1px 1px 0px 0 #ccc, 2px 2px 0px 0 #ccc, 3px 3px 0px 0 #ccc, 4px 4px 0px 0 #ccc, 5px 5px 0px 0 #ccc, 6px 6px 0px 0 #ccc, 7px 7px 0px 0 #ccc, 8px 8px 0px 0 #ccc, -3px 5px 19px 2px #ccc;

}

.b-list-item_link {
    position: absolute;
    color: #fff;
    font-size: 24px;
    bottom: 10px;
    width: 80%;
    left: 50%;
    margin-left: -40%;
}

#mainFilm {
    position: fixed;
    min-height: 100%;
    width: 100%;
    box-shadow: inset 0 -10px 15px 6px #000;
    z-index: 5;
    top: 0;
    opacity: 0;
    overflow: hidden;

    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#mainFilm.show {
    opacity: 1;
    background: #111;
}

#mainFilm .b-main-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: 25%;

    /*-webkit-filter: blur(1px);*/
    /*-moz-filter: blur(3px);*/
    /*-o-filter: blur(3px);*/
    /*-ms-filter: blur(3px);*/
    /*filter: blur(3px);*/

    background-color: #000;
    box-shadow: inset 0 0 150px 40px #222;

}

.b-main-item-content {
    position: relative;
    background: #555;
    opacity: 0.7;
}

.b-main-item-back {
    font-size: 3em;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    left: 2%;
    z-index: 50;
}

#mainFilm .b-main-item-content-wrap {

}

.no-scroll {
    overflow: hidden;
}

#mainFilm .b-info {
    color: #fff;
    list-style: none;
    font-size: 1.5em;
    padding-left: 2%;
    box-sizing: border-box;
    padding: 2%;
}

#mainFilm .b-info-row-title {
    font-size: 2.5em;
    margin-bottom: 30px;
}

#mainFilm .b-info-row {
    line-height: 1.5em;
}

#mainFilm .b-info-row-title-eng {
    font-size: 0.6em;
}

#mainFilm .b-info-row-caption {
    color: #ccc;
}

#mainFilm .b-info-row-description {

}

.lazy-style {
    opacity: 0;

    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.lazy-style.show {
    opacity: 1;
}

@media screen and (max-width: 980px) {
    .b-main-item-back {
        background: #222;
        border-radius: 5px;
        padding: 10px;
        opacity: 0.7;
        bottom: 10%;
    }
}


